@import "./../ruler.module.scss";

$background-color: #C6FCED;
$main-color: #5042C1;
$main-color-transparent: #5142c17e;
$main-color-shadow: #2726A0;
$accent-color: #68BAA6;
$accent-color2: #1d1b22;
$accent-color3: #F9F871;
$nav_bar_length: 46px;
$layout-color: #ffffff73;

.show_ruler_layout {
    width: 500px;
    height: 300px;
    background-color: $layout-color;
    border-radius: 15px;
}